#
# Example Chef Solo Config
cookbook_path [ 
               '/root/chef-repo/site-cookbooks', '/root/chef-repo/cookbooks' 
              ]

log_level         :info
file_store_path  '/root/chef-repo'
file_cache_path  '/root/chef-repo'
Chef::Log::Formatter.show_time = false